body {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    margin-top: 20px;
}

.container {
    padding: 0 15px;
    margin: 0 300px;

}

.col-6 {
    width: 50%;
}

.col-6 input {
    width: 95%;
    padding: 7px 10px;
    font-size: 14px;
    color: rgb(198,198,198);
    border: 1px solid rgb(198,198,198);
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px;
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(198,198,198);
    border: 1px solid rgb(198,198,198);
    resize: none;
    
}
::placeholder {
    color: rgb(198,198,198);
}
.col-12 {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.contactus_title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 13px;
}

.text-end {
    text-align: end;
}

.mb-0 {
    margin-bottom: 0;
}

button.contactus_submit {
    font-size: 14px;
    color: white;
    background-color: #7DCEFD;
    border: 1px solid #6ABAE8;
    border-radius: 4px;
    padding: 7px 14px;
    cursor: pointer;
}

button.contactus_submit:hover {
    background-color: #b6d8eb;
}

p.contactus_notice {
    font-size: 15px;
    color: #999999;
}



@media screen and (min-width: 949px) and (max-width:1148px) {
    .container {
        padding: 0 15px;
        margin: 0 150px;
    }
}

@media screen and (min-width: 747px) and (max-width:948px) {
    .container {
        padding: 0 10px;
        margin: 0 100px;
    }
}

@media screen and (min-width: 639px) and (max-width:746px) {
    .container {
        padding: 0 10px;
        margin: 0 50px;
    }
}

@media screen and (min-width: 490px) and (max-width:638px) {
    .container {
        padding: 0 10px;
        margin: 0 10px;
    }
    .col-6 {
        width: 100%;
    }
    .row {
        display: block;
    }
    .text-end {
        text-align: left;
    }
    .col-6 input {
        width: 100%;
    }
    .d-flex {
        display: flex;
    }
    p.contactus_notice {
        text-align: end;
        font-size: 13px;
    }
}

@media screen and (min-width: 490px) and (max-width:638px) {
    .container {
        padding: 0 5px;
        margin: 0 5px;
    }
    p.contactus_notice {
        text-align: end;
        font-size: 13px;
    }
}

@media screen and (min-width: 363px) and (max-width:489px) {
    .container {
        padding: 0 5px;
        margin: 0 5px;
    }
    .col-6 {
        width: 100%;
    }
    .row {
        display: block;
    }
    .text-end {
        text-align: left;
    }
    .col-6 input {
        width: 100%;
    }
    .d-flex {
        display: flex;
    }
    p.contactus_notice {
        text-align: end;
        font-size: 13px;
    }
}

@media screen and (min-width: 220px) and (max-width:362px) {
    .container {
        padding: 0 5px;
        margin: 0 5px;
    }
    .col-6 {
        width: 100%;
    }
    .row {
        display: block;
    }
    .text-end {
        text-align: left;
    }
    .col-6 input {
        width: 100%;
    }
    .d-flex {
        display: block;
    }
    p.contactus_notice {
        text-align: left;
        font-size: 13px;
    }
    button.contactus_submit {
        margin-top: 6px;
    }
}