html {
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
}

.client h2 {
    text-align: center;
    margin: 2% 0;
    position: relative;
    color:#313131;
}
.client h2:after {
    background-color: #627afe;
    bottom: -5px;
    content: "";
    display: block;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 60px;
    position: absolute;
}
.client-said {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.client-list {
    margin:5%;
    display: flex;
    justify-content: space-around;
}
.avatar {
    margin-right: 10px;
    margin-top: 22px;
    border-radius: 50%;
    color: #f6f6f6;
    background-color: #93dea4;
    height: 50px;
    padding: 10px 24px;
    font-size: xx-large;
    line-height: 50px;
}

p.name {
    font-weight: bold;
    margin-top:10px;
}
.detail {
    color: #959595;
}
.name {
    color:#6c6c6c;
}
@media (max-width: 768px) and (min-width: 425px) {
    .client-said {
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 425px) {
    .client-said {
        grid-template-columns: 100%;
    }
}