* {
    margin: 0;
    padding: 0;
}
body {
    color: #98999c;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.8;
}

.detail-left {
    float: left;
    padding:1rem;
    width: 40%;
}
.photo-left {
    float: left;
}

div>img {
    width:45vw;
    opacity: 0.5;
    margin: 5px;
}

h3 {
    color: #21262a;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 17px;
}

.detail-right {
    margin: 0 0 2rem 0;
    padding:1rem;
}

.decription {
    margin-bottom: 30px;
}

.next-page a {
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    color:#fff;
}
.detail-left a {
    background-color: #75bee1;
}
.detail-right a {
    background-color: #95d075;
}

.area-detail {
    border-bottom: 2px solid #ccc;
    margin: 3rem 0;
}

.area-detail:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

@media (max-width: 768px) {
    .detail-left {
        float: none;
        width:90vw;
    }
    .photo-left {
        float: none;
    }
    div>img {
        width:90vw;
    }
}

@media (max-width: 320px) {
    .next-page a {
        width:100%;
        padding: 10px 5px;
    }
}
