* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

li:nth-child(odd), span:nth-child(odd) {
    width: 100px;
    height: 100px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:nth-child(even), span:nth-child(even) {
    width: 100px;
    height: 100px;
    background: green;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    display: block;
    width: 100px;
    height: 100px;
}

.method2 {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width:993px) and (max-width:1200px){
    li:nth-child(odd), span:nth-child(odd) {
        width: 50px;
        height: 100px;
        background: purple;
    }
    li:nth-child(even), span:nth-child(even) {
        width: 100px;
        height: 100px;
        background: pink;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    li:nth-child(odd), span:nth-child(odd) {
        width: 30px;
        height: 100px;
        background: yellow;
    }
    li:nth-child(even), span:nth-child(even) {
        width: 40px;
        height: 100px;
        background: purple;
    }
}


@media screen and (min-width:426px) and (max-width:768px){
    li:nth-child(odd), span:nth-child(odd) {
        width: 30px;
        height: 100px;
        background: brown blue;
    }
    li:nth-child(even), span:nth-child(even) {
        width: 40px;
        height: 100px;
        background: yellow;
    }
}

@media screen and (min-width:321px) and (max-width:425px){
    li:nth-child(odd), span:nth-child(odd) {
        width: 20px;
        height: 100px;
        background: yellow;
    }
    li:nth-child(even), span:nth-child(even) {
        width: 50px;
        height: 100px;
        background: red;
    }
}

@media screen and (min-width:200px) and (max-width:320px){
    li:nth-child(odd), span:nth-child(odd) {
        width: 20px;
        height: 100px;
        background: red;
    }
    li:nth-child(even), span:nth-child(even) {
        width: 30px;
        height: 100px;
        background: green;
    }
}