body {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
}

.container {
    padding: 0 15px;
    margin: 0 200px;
    background-color: #F2F3F5;
}

.col-3 {
    float: left;
    width: 79px;
    height: 79px;
    font-size: 70px;
    padding: 1px 1px;
    background-color: #D997DE;
    text-align: center;
    border-radius: 8px;
    color: white;
}

.row {
    padding: 9px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-10 {
    width: 80%;
    margin-left: 20px;
}

.col-12 {
    width: 100%;
    float: none;
}

h1.row__title {
    font-size: 18px;
    text-transform: uppercase;
    color: #111111;
    margin: 0;
}

.col-10 p.row__description {
    font-size: 14px;
    color: #ABACAC;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 0;
}

hr.line_break {
    border: 1px dashed red;
    width: 89%;
}

.mb-2 {
    margin-bottom: 20px;
}

@media screen and (min-width: 1361px) and (max-width:1920px) {
    hr.line_break {
        width: 85%;
    }
}

@media screen and (min-width: 1281px) and (max-width:1360px) {
    hr.line_break {
        width: 87%;
    }
}

@media (max-width: 1280px) {
    h1.row__title {
        font-size: 19px;
    }
    .container {
        padding-right: 10px;
        padding-left: 1px;
        margin-right: 100px;
        margin-left: 100px;
        background-color: #F2F3F5;
    }
    hr.line_break {
        width: 87%;
    }
}

@media (max-width: 912px) {
    h1.row__title {
        font-size: 19px;
    }
    .container {
        padding-right: 10px;
        padding-left: 1px;
        margin-right: 100px;
        margin-left: 100px;
        background-color: #F2F3F5;
    }
    hr.line_break {
        width: 90%;
    }
}

@media (max-width: 881px) {
    h1.row__title {
        font-size: 16px;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 100px;
        margin-left: 100px;
        background-color: #F2F3F5;
    }
}

@media (max-width: 700px) {
    h1.row__title {
        font-size: 15px;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 80px;
        margin-left: 80px;
        background-color: #F2F3F5;
    }
}

@media (max-width: 600px) {
    h1.row__title {
        font-size: 14px;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 80px;
        margin-left: 80px;
        background-color: #F2F3F5;
    }
    .col-10 p.row__description {
        font-size: 12px;
        line-height: 22px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .col-3 {
        width: 58px;
        height: 64px;
        font-size: 57px;
        padding: 1px 1px;
    }
}

@media (max-width: 540px) {
    body {
        margin-top: 6px;
    }
    h1.row__title {
        font-size: 12px;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: #F2F3F5;
    }
    .col-10 p.row__description {
        font-size: 11px;
        color: #ABACAC;
        line-height: 17px;
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .col-3 {
        width: 50px;
        height: 47px;
        font-size: 43px;
        padding: 1px 1px;
    }
}

@media (max-width: 412px) {
    body {
        margin-top: 6px;
    }
    h1.row__title {
        font-size: 12px;
    }
    .container {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: 5px;
        margin-left: 5px;
        background-color: #F2F3F5;
    }
    .col-10 p.row__description {
        font-size: 11px;
        line-height: 17px;
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .col-3 {
        width: 50px;
        height: 47px;
        font-size: 43px;;
        padding: 1px 1px;
    }
}

@media (max-width: 280px) {
    body {
        margin-top: 6px;
    }
    h1.row__title {
        font-size: 8px;
    }
    .container {
        padding-right: 10px;
        padding-left: 1px;
        margin-right: 5px;
        margin-left: 5px;
        background-color: #F2F3F5;
    }
    .col-10 p.row__description {
        font-size: 6px;
        color: #ABACAC;
        line-height: 10px;
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .col-3 {
        width: 34px;
        height: 33px;
        font-size: 31px;;
        padding: 1px 1px;
    }
    .col-10 {
        margin-left: 7px;
    }
}