html {
    font-size: 100%;
}

.container {
    display         : block;
    background-color: #F2F3F5;
    font-family     : Arial, Helvetica, sans-serif;
    width           : 800px;
    margin          : auto;
}

.row {
    display         : flex;  
    padding         : 2rem;
    border-bottom   : 1px dashed #f27e76;
}

.row:last-child {
    border-bottom: none;
}

.content p {
    color: #b6b7b8;
}

.avatar {
    display         : block;
    font-size       : 110px;
    background-color: #D997DE;
    border-radius   : 7px;
    color           : white;
    font-weight     : 100;
    padding         : 0 1rem;
    margin          : 1rem;
    height          : 120px;
    width           : 200px;
    text-align      : center;
}

h3 {
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
    .avatar {
        justify-content : center;
        padding         : 0;
        text-align      : center;
        margin          : 0 auto;
        width           : 140px;
    }
}